openapi: 3.2.0
info:
  title: General Services Administration Analytics API
  version: '1.0'
  description: 'Operations tagged analytics across 2 of this provider''s published API definitions: general-services-administration-apidatagov-admin-openapi.yaml, general-services-administration-apidatagov-metrics-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.gsa.gov/operations/api-data-gov
tags:
- name: Analytics
paths:
  /api-umbrella/v1/analytics/drilldown:
    get:
      tags:
      - Analytics
      summary: Get a summary of pending configuration changes
      parameters:
      - name: prefix
        in: query
        required: true
        schema:
          type: string
      - name: start_at
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: end_at
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: interval
        in: query
        required: true
        schema:
          type: string
          enum:
          - month
          - week
          - day
          - hour
          - minute
      - name: query
        in: query
        required: false
        description: A string of JSON in the format [jQuery QueryBuilder](http://mistic100.github.io/jQuery-QueryBuilder/) generates for fields to filter.
        schema:
          type: string
      - name: search
        in: query
        required: false
        description: A raw elasticsearch query string.
        schema:
          type: string
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                title: Response
                type: object
                properties:
                  breadcrumbs:
                    type: array
                    items:
                      type: object
                      properties:
                        prefix:
                          type: string
                        crumb:
                          type: string
                  hits_over_time:
                    type: object
                    properties:
                      cols:
                        type: array
                        items:
                          type: object
                      rows:
                        type: array
                        items:
                          type: object
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        depth:
                          type: integer
                        path:
                          type: string
                        terminal:
                          type: boolean
                        descendent_prefix:
                          type: string
                        hits:
                          type: integer
      security:
      - api_key: []
      - admin_auth_token: []
      operationId: getApiUmbrellaV1AnalyticsDrilldown
      x-operation-id-source: derived
  /v0/analytics/summary:
    get:
      summary: Summary analytics for api.data.gov
      description: Get summary analytics for how many users and hits api.data.gov has seen over time.
      responses:
        '200':
          description: Analytics Summary Data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsSummary'
      tags:
      - Analytics
      security:
      - ApiKeyQueryAuth: []
      - ApiKeyHeaderAuth: []
      operationId: getV0AnalyticsSummary
      x-operation-id-source: derived
    servers:
    - url: https://api.gsa.gov/operations/api-data-gov
components:
  schemas:
    AnalyticsSummary:
      type: object
      properties:
        start_time:
          type: string
          format: date-time
          description: Timestamp of when the analytics data begins.
        end_time:
          type: string
          format: date-time
          description: Timestamp of when the analytics data ends.
        timezone:
          type: string
          description: The timezone of dates and times in the analytics data.
        production_apis:
          type: object
          description: Analytics data for all production APIs.
          properties:
            organization_count:
              type: integer
              description: The number of unique organizations that have production APIs.
            api_backend_count:
              type: integer
              description: The number of API backends configured for production APIs.
            api_backend_url_match_count:
              type: integer
              description: The number of separate API URL prefixes configured for production APIs.
            organizations:
              type: array
              items:
                $ref: '#/components/schemas/AnalyticsSummaryOrganization'
            all:
              $ref: '#/components/schemas/AnalyticsSummaryMetrics'
        cached_at:
          type: string
          format: date-time
          description: Timestamp of when the analytics summary data was generated and cached.
    AnalyticsSummaryMetrics:
      type: object
      properties:
        active_api_keys:
          type: object
          description: Metrics on the number of API keys used.
          properties:
            total:
              type: integer
              description: The total number of unique API keys used ever.
            monthly:
              type: array
              description: The number of unique API keys used each month.
              items:
                type: array
                description: A 2 element array, with the first element being the month, and the second element being the count.
                items:
                  oneOf:
                  - type: string
                    description: The month in YYYY-MM format.
                    pattern: ^\d{4}-\d{2}$
                    example: 2019-01
                  - type:
                    - integer
                    - 'null'
                    description: The number of API keys used this month.
                minItems: 2
                maxItems: 2
            recent:
              type: object
              description: Metrics on the number of API keys used in the last 30 days.
              properties:
                total:
                  type: integer
                  description: The total number of unique API keys used in the last 30 days.
                daily:
                  type: array
                  description: The number of unique API keys used each day in the last 30 days.
                  items:
                    type: array
                    description: A 2 element array, with the first element being the day, and the second element being the count.
                    items:
                      oneOf:
                      - type: string
                        format: date
                        description: The day in YYYY-MM-DD format.
                      - type:
                        - integer
                        - 'null'
                        description: The number of API keys used this day.
                    minItems: 2
                    maxItems: 2
        hits:
          type: object
          description: Metrics on the number of API hits.
          properties:
            total:
              type: integer
            monthly:
              type: array
              items:
                type: array
                description: A 2 element array, with the first element being the month, and the second element being the count.
                items:
                  oneOf:
                  - type: string
                    description: The month in YYYY-MM format.
                    pattern: ^\d{4}-\d{2}$
                    example: 2019-01
                  - type:
                    - integer
                    - 'null'
                    description: The number of API hits during this month.
                minItems: 2
                maxItems: 2
            recent:
              type: object
              properties:
                daily:
                  type: array
                  items:
                    type: array
                    description: A 2 element array, with the first element being the day, and the second element being the count.
                    items:
                      oneOf:
                      - type: string
                        format: date
                        description: The day in YYYY-MM-DD format.
                      - type:
                        - integer
                        - 'null'
                        description: The number of API hits during this day.
                    minItems: 2
                    maxItems: 2
                total:
                  type: integer
        average_response_times:
          type: object
          description: Metrics on the average response times of the APIs.
          properties:
            average:
              type:
              - integer
              - 'null'
            monthly:
              type: array
              items:
                type: array
                description: A 2 element array, with the first element being the month, and the second element being the average.
                items:
                  oneOf:
                  - type: string
                    description: The month in YYYY-MM format.
                    pattern: ^\d{4}-\d{2}$
                    example: 2019-01
                  - type:
                    - integer
                    - 'null'
                    description: The average response time of API hits during this month.
                minItems: 2
                maxItems: 2
            recent:
              type: object
              properties:
                average:
                  type:
                  - integer
                  - 'null'
                daily:
                  type: array
                  items:
                    type: array
                    description: A 2 element array, with the first element being the day, and the second element being the average.
                    items:
                      oneOf:
                      - type: string
                        format: date
                        description: The day in YYYY-MM-DD format.
                      - type:
                        - integer
                        - 'null'
                        description: The average response time of API hits during this day.
                    minItems: 2
                    maxItems: 2
    AnalyticsSummaryOrganization:
      allOf:
      - type: object
        properties:
          name:
            type: string
            description: The name of the organization.
          api_backend_count:
            type: integer
            description: The number of API backends this organization has.
          api_backend_url_match_count:
            type: integer
            description: The number of separate API URL prefixes this organization has.
      - $ref: '#/components/schemas/AnalyticsSummaryMetrics'
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-Api-Key
    admin_auth_token:
      type: apiKey
      in: header
      name: X-Admin-Auth-Token
    ApiKeyQueryAuth:
      type: apiKey
      in: query
      name: api_key
    ApiKeyHeaderAuth:
      type: apiKey
      in: header
      name: X-Api-Key
x-refined-from:
- general-services-administration-apidatagov-admin-openapi.yaml
- general-services-administration-apidatagov-metrics-openapi.yaml
